In [29]:
import pandas as pd

In [30]:
data = pd.read_excel('list_of_reference_catrgories.xlsx')

In [31]:
data

                               grade:G
0   home_ownership:RENT_OTHER_NONE_ANY
1      addr_state:ND_NE_IA_NV_FL_HI_AL
2    sub_grade:F5_G1_G3_G5_F4_G4_F3_G2
3   purpose:small_business_educational
4         verification_status:Verified
5                              term:36
6                         emp_length:0
7              mnths_since_issue_d:<38
8                      int_rate:<9.548
9                      annual_inc:<20k
10      mths_since_last_delinq:Missing

In [33]:
data['grade:G'] = data['grade:G'].astype(str)

In [34]:
data['grade:G'] = "'" + data['grade:G'] + "',"

In [35]:
data

                                  grade:G
0   'home_ownership:RENT_OTHER_NONE_ANY',
1      'addr_state:ND_NE_IA_NV_FL_HI_AL',
2    'sub_grade:F5_G1_G3_G5_F4_G4_F3_G2',
3   'purpose:small_business_educational',
4         'verification_status:Verified',
5                              'term:36',
6                         'emp_length:0',
7              'mnths_since_issue_d:<38',
8                      'int_rate:<9.548',
9                      'annual_inc:<20k',
10      'mths_since_last_delinq:Missing',

In [36]:
data.to_csv('list_of_reference_catrgories.csv', index = False)